<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>




<style>
    *, *::before, *::after {
        box-sizing: border-box;
        font-family: sans-serif;
        font-weight: normal;
    }

    body {
        padding:0;
        margin:0;
        background: linear-gradient(to right, #00AAFF, #00FF6c);
    }

    .output{
        color: rgba(255, 255, 255, .75);
        font-size: 2.5rem;
    }
</style>


<body class="text-center" style="max-width: 1920px">

<style>
    form{
        margin-top: 125px; max-width: 300px; margin-left:20%; margin-right:20%; align-items: center
    }

</style>


<form class="form-signin"  th:action="@{/add}" th:method="post" >
    <div class="form-group">
        <label for="email">Email</label>
        <input type="text" class="form-control" id="email" th:field="*{email}">
        <div class="alert alert-warning" role="alert" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
    </div>
    <div class="form-group">
        <label for="totalprice">Total Price</label>
        <textarea class="form-control" id="totalprice" rows="3" cols="50" th:field="*{totalPrice}"></textarea>
        <div class="alert alert-warning" role="alert" th:if="${#fields.hasErrors('totalPeice')}" th:errors="*{totalPrice}"></div>
    </div>
    <button type="submit" class="btn btn-dark">Submit</button>
</form>


</body>
</html>