<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>








<style>
    *, *::before, *::after {
        box-sizing: border-box;
        font-family: sans-serif;
        font-weight: normal;
    }

    body {
        padding:0;
        margin:0;
        background: linear-gradient(to right, #00AAFF, #00FF6c);
    }
</style>


<body class="text-center" style="max-width: 1920px; align-items: center">

<div>
    <h2 class="form-signin" style="margin-top: 125px; max-width: 300px; margin-left:20%; margin-right:20%; align-items: center">All Ads example:</h2>
    <div style="align-items: center" th:each="ad : ${ads}">
        <h3 style="align-items: center"  th:text="${ad.email}"></h3>
        <p style="align-items: center"  th:text="${ad.totalPrice}"><p/>
    </div>
</div>


<form class="form-signin" action="/create" method="Post" style="align-items: center">
    <img class="mb-4" src="https://i.imgur.com/v2t7qrK.gif" alt="" width="72" height="72">


    <div class="form-group" style="max-width:400px;">
        <label for="email">Email</label>
        <input type="text" class="form-control" id="email" name="email">
        <!--        <div class="alert alert-warning" role="alert" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>-->

        <label for="totalprice">Total Price</label>
        <input class="form-control" id="totalprice" rows="1" cols="50" name="totalPrice"></input>
        <!--        <div class="alert alert-warning" role="alert" th:if="${#fields.hasErrors('totalPeice')}" th:errors="*{totalPrice}"></div>-->
        <br>
        <button class="btn btn-lg btn-block" style="background:linear-gradient(to right, #9e69ba, #5dacaa);" type="submit">Edit Price</button>
    </div>
</form>
</body>
</html>