<!--/


        Welcome to tims spring framework example. This is a mock up of how to to use
        spring in it's basic form

/-->


<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>


<!--    I will move these at a later date sign in function is more critical-->


    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>






<!-- I will create a basic style sheet at a later date-->

<style>
    *, *::before, *::after {
        box-sizing: border-box;
        font-family: sans-serif;
        font-weight: normal;
    }

    body {
        padding:0;
        margin:0;
        background: linear-gradient(to right, #00AAFF, #00FF6c);
    }
</style>





<!--        body-->
<body class="text-center" style="max-width: 1920px">



<!--        for each loop to interate through the ads-->
<h2>All Ads example:</h2>
<div th:each="ad : ${ads}">
    <h3 th:text="${ad.email}"></h3>
    <p th:text="${ad.totalPrice}"><p/>

</div>



<div class="form-signin" style="margin-top: 125px; max-width: 300px; margin-left:20%; margin-right:20%; align-items: center">
<img class="mb-4" src="https://i.imgur.com/v2t7qrK.gif" alt="" width="72" height="72">
<br>


<!--     trying to move this into the form but it's still leaving the forms container -->
    <h2>All Ads example:</h2>
    <div th:each="ad : ${ads}">
        <h3 th:text="${ad.email}"></h3>
        <p th:text="${ad.totalPrice}"><p/>

    </div>


<!--            buttons with some breaks-->
    <br>
    <button class="btn btn-lg btn-block" style="background:linear-gradient(to right, #9e69ba, #5dacaa);" type="submit">Create An Order</button>
    <br>
    <button class="btn btn-lg btn-block" style="background:linear-gradient(to right, #9e69ba, #5dacaa);" type="submit">Edit an Order</button>

</div>
</body>
</html>